body {
    margin: 0;
    padding: 0;

    font-family: PT Sans, arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;

    background-color: #fdf6f2;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
}

h3 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-family: ZonaPro-Regular, arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.vacancy-header {
    background-color: #566163;
    background-image: url(../img/bg_custom_web.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vacancy-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.header-logo img {
    width: 270px;
    height: 90px;
}

.header-title {
    margin: 20px 0 40px;
    width: 280px;

    font-family: ZonaPro-Regular, arial, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: #fdf6f2;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.vacancy-title,
.company-benefits h3 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-family: ZonaPro-Regular, arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.vacancy-description {
    margin-bottom: 40px;
    padding: 15px;

    border: 1px solid #FE9961;
    background-color: #fdf0e8;
}

.requirements-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main-requirements,
.additional-requirements {
    width: 280px;
}

.main-requirements {
    margin-bottom: 40px;
}

.main-requirements-list,
.additional-requirements-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-requirements-list li,
.additional-requirements li {
    padding-left: 20px;
    position: relative;
}

.main-requirements-list li::before,
.additional-requirements-list li::before {
    content: '';

    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 16px;

    background-image: url(../img/check-mark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.company-details {
    background-color: #fda253;
    background-image: url(../img/bg_pse.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}

.company-details .container {
    padding: 35px 0;
    margin-bottom: 40px;

    color: #fdf6f2;
    text-align: center;
}

.company-details-title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-family: ZonaPro-Regular, arial, sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
}

.company-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.company-promo li {
    position: relative;

    padding: 15px;
    padding-top: 90px;
    margin-bottom: 20px;
    width: 246px;

    border: 1px solid #fdf6f2;
}

.company-promo li:last-child {
    margin-bottom: 0;
}

.company-promo li::before {
    content: '';

    position: absolute;
    top: 10px;
    left: 103px;
    width: 70px;
    height: 70px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.company-promo li.objective::before {
    background-image: url(../img/objective.svg);
}

.company-promo li.world-map::before {
    background-image: url(../img/world-map.svg);
}

.company-promo li.computer::before {
    background-image: url(../img/computer.svg);
}

.company-promo li.network::before {
    background-image: url(../img/network.svg);
}

.company-benefits {
    margin-bottom: 40px;
}

.company-benefits-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.company-benefits-list li {
    position: relative;

    padding-bottom: 10px;
    padding-left: 25px;
    margin-bottom: 20px;

    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.vacancy-footer {
    background-color: #566163;
    background-image: url(../img/bg_custom_web.jpg);
    background-position: center center;
}

.vacancy-footer .container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer-link {
    width: 110px;
}

.footer-link a {
    font-size: 20px;
    color: #fda253;

    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 110px;

    list-style: none;
}

.social-button {
    display: block;
    width: 50px;
    height: 50px;

    background-image: url(../img/icons_sprite_social.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

@media (min-width: 768px) {
    .container {
        width: 708px;
    }

    .vacancy-header .container {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

    .header-logo img {
        margin-left: -50px;

        width: 300px;
        height: 100px;
    }

    .header-title {
        width: 340px;

        text-align: right;
        font-size: 37px;
        line-height: 40px;
    }

    .requirements-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .requirements-wrapper {
        border: 1px solid #b4b4b4;
        background-color: #ffffff;
    }

    .main-requirements,
    .additional-requirements {
        width: 300px;
        padding: 15px;
    }

    .main-requirements {
        margin-bottom: 0;
    }

    .company-promo {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .company-promo li {
        width: 300px;
        margin-bottom: 35px;

        font-size: 18px;
    }

    .company-promo li:last-child {
        margin-bottom: 35px;
    }

    .company-promo li::before {
        left: 130px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

@font-face {
    font-family: ZonaPro-Regular;
    src: url(../fonts/ZonaPro-Regular-webfont.woff2) format("woff2"),
         url(../fonts/ZonaPro-Regular-webfont.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}
